* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(29, 85, 205);
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.material-symbols-outlined {
  font-size: 10rem;
  font-weight: bold;
}

.lg-str {
  font-size: 2rem;
}

.sm-str {
  font-size: 1.5rem;
}

#Typing {
  position: relative;
  display: inline-block;
}

#Typing::after {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background-color: rgb(0, 0, 0);

  position: absolute;
  top: 0;
  right: -10px;
}

#Typing.active::after {
  display: none;
}
