* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(242, 255, 0);
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.icon-size {
  font-size: 10rem;
  color: rgba(182, 27, 7, 0.82);
}

.lg-text {
  font-size: 2rem;
  font-weight: bold;
}

#dynamic {
  position: relative;
  display: inline-block;
}

#dynamic::after {
  display: block;
  content: "";
  width: 4px;
  background-color: black;

  position: absolute;
  height: 100%;
  top: 0;
  right: -10px;
}

#dynamic.active::after {
  display: none;
}
