* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  perspective: 1200px;
}

.flip {
  width: 200px;
  height: 100px;
  color: black;

  text-align: center;
  line-height: 100px;

  transform-style: preserve-3d;

  transition: 3s;
}

.flip:hover {
  cursor: pointer;

  transform: rotateX(-90deg);
}

.front {
  background-color: aqua;
  height: 100px;

  transform: translateZ(50px);
}

.back {
  background-color: aquamarine;
  height: 100px;

  transform: rotateX(90deg) translateZ(150px);
}
